<div class="container">
  <div class="row my-3">
    <div class="ccol-lg-11 offset-lg-1">
      <%= form_with model:@user, url:edit_admins_user_path, local:true do |f| %>
      <table class="table">
        <tr>
          <th class="">ニックネーム</th>
          <td><%= f.text_field :nickname %></td>
        </tr>
        <tr>
          <th class="">プロフィール画像</th>
          <td><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></td>
        </tr>
         <tr>
          <th class="">年齢</th>
          <td><%= f.select :age, options_for_select(User.ages_i18n.invert,:selected =>@user.age ) %></td>
        </tr>
        <tr>
          <th class="">自己紹介</th>
          <td><%= f.text_area :introduction %></td>
        </tr>
          <tr>
          <th class="customer_edit_th">会員ステータス</th>
          <td>
          <%= f.radio_button :is_deleted, false %>
          <%= f.label :is_deleted, '有効' %>
          <%= f.radio_button :is_deleted, true %>
          <%= f.label :is_deleted, '退会' %>
          </td>
        </tr>
      </table>

      <div>
        <%= f.submit "編集内容を保存",class: "btn btn-sm btn-success" %>
        <% end %>
      </div>
      <br>
      
    </div>
  </div>
</div>