<!DOCTYPE html>
<html>
  <head>
    <title>SharE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-white bg-dark border">
      <div class="container">
        <%= link_to root_path do %>
          <%= image_tag 'log_3.png',:size =>'100x100' %>
        <% end %>
        <% if user_signed_in? %>
          <span class="fas text-white">ようこそ,<%= current_user.nickname %>さん!</span>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li><%= link_to ' マイページ',user_path(current_user),class: 'fas fa-address-card nav-link text-white' %></li>
            <li><%= link_to ' イベント一覧',events_path,class: 'fas fa-guitar nav-link text-white' %></li>
            <li><%= link_to ' 会場一覧',venues_path ,class: 'fas fa-ring nav-link text-white'%></li>
            <li><%= link_to ' アーティスト一覧',artists_path ,class: 'fas fa-user-friends nav-link text-white'%></li>
            <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-white' %></li>

          <% elsif admin_signed_in? %>
            <li><%= link_to ' イベント一覧',admins_events_path,class: 'fas nav-link text-white' %></li>
            <li><%= link_to ' 会場一覧',admins_venues_path,class: 'fas nav-link text-white' %></li>
            <li><%= link_to ' アーティスト一覧',admins_artists_path ,class: 'fas nav-link text-white'%></li>
            <li><%= link_to ' ユーザー一覧',admins_users_path,class: 'fas nav-link text-white' %></li>
            <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete,class: 'fas nav-link text-white' %></li>

          <% else %>
            <li><%= link_to ' Top',root_path,class: 'fas fa-home nav-link text-white' %></li>
            <li><%= link_to ' イベント一覧',events_path,class: 'fas fa-guitar nav-link text-white' %></li>
            <li><%= link_to ' 会場一覧',venues_path,class: 'fas fa-ring nav-link text-white' %></li>
            <li><%= link_to ' アーティスト一覧',artists_path,class: 'fas fa-user-friends nav-link text-white' %></li>
            <li><%= link_to ' 新規登録', new_user_registration_path,class: 'fas fa-user-plus nav-link text-white' %></li>
            <li><%= link_to ' ログイン', new_user_session_path ,class: 'fas fa-sign-in-alt nav-link text-white'%></li>
          <% end %>
          </ul>
        </div>
      </div>
       <%= form_with url:search_path, method: :get, local: true do |f| %>
          <%= f.text_field 'search[value]' %>
          <%= f.select 'search[model]', options_for_select({ "イベント" => "event", "会場" => "venue", "アーティスト" => "artist" }) %>
          <%= f.select 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }) %>
          <%= f.submit :"検索" %>
        <% end %>
    
    </nav>
  </header>


  <body>
    <%= yield %>
  </body>
</html>
